# Notebbok Imports

In [2]:
import numpy as np 
import pandas as pd 
from sklearn.preprocessing import PolynomialFeatures

# Generate sample data

In [4]:
Table = {
    'Customer-ID': [1, 2, 3, 4, 5], 
    'Gender': ['M','F','M','F','F'], 
    'Work-type': [1, 2, 2, 3, 3], 
    'Client-satisfaction':[3, 0, 4, 3, 5], 
    'Number-occupants': [2, 4, 2, 1, 2],
    'Consumption':[70, 140, 65, 40, 65]
}

TDF = pd.DataFrame(data=Table)
TDF

,Customer-ID,Gender,Work-type,Client-satisfaction,Number-occupants,Consumption
0,1,M,1,3,2,70
1,2,F,2,0,4,140
2,3,M,2,4,2,65
3,4,F,3,3,1,40
4,5,F,3,5,2,65

# Polynomial Feature

In [5]:
pf = PolynomialFeatures(degree=2, interaction_only=True, include_bias=False).fit(TDF[['Number-occupants', 'Consumption']])

# apply the polynomial feature creator to the data
int_feat = pf.transform(TDF[['Number-occupants', 'Consumption']])
int_feat

array([[  2.,  70., 140.],
       [  4., 140., 560.],
       [  2.,  65., 130.],
       [  1.,  40.,  40.],
       [  2.,  65., 130.]])

In [6]:
# convert the generated interaction feature array to a dataframe
int_feat = pd.DataFrame(int_feat, columns=['Number-occupants', 'Consumption', 'nOcc_x_Conspt'])
 
# append generated interaction feature to dataframe
TDF = pd.concat([TDF, int_feat], axis=1)
TDF

,Customer-ID,Gender,Work-type,Client-satisfaction,Number-occupants,Consumption,Number-occupants,Consumption,nOcc_x_Conspt
0,1,M,1,3,2,70,2.0,70.0,140.0
1,2,F,2,0,4,140,4.0,140.0,560.0
2,3,M,2,4,2,65,2.0,65.0,130.0
3,4,F,3,3,1,40,1.0,40.0,40.0
4,5,F,3,5,2,65,2.0,65.0,130.0