# Notebook Imports

In [12]:
import numpy as np
import pandas as pd

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.linear_model import BayesianRidge

# Create the data table

In [13]:
table = {
    'Var1': [10, np.nan, 2, 1, 5],
    'Var2': [2, 1, 0.4, 0.2, np.nan]
}

TDF = pd.DataFrame(data=table)
TDF

   Var1  Var2
0  10.0   2.0
1   NaN   1.0
2   2.0   0.4
3   1.0   0.2
4   5.0   NaN

# Bayesian Ridge

In [14]:
# apply regression imputation using ‘Bayesian Ridge’
imputbr = IterativeImputer(BayesianRidge())
TDF = pd.DataFrame(imputbr.fit_transform(TDF))
TDF

           0         1
0  10.000000  2.000000
1   5.000531  1.000000
2   2.000000  0.400000
3   1.000000  0.200000
4   5.000000  0.999973

# Extra Trees Regressor

In [15]:
# apply regression imputation using ‘Extra Trees Regressor’
TDF = pd.DataFrame(data=table)
imputetr = IterativeImputer(ExtraTreesRegressor())
TDF = pd.DataFrame(imputetr.fit_transform(TDF))

TDF

      0    1
0  10.0  2.0
1   5.0  1.0
2   2.0  0.4
3   1.0  0.2
4   5.0  1.0