# Notebook Imports

In [27]:
import pandas as pd
from sklearn.preprocessing import PolynomialFeatures

# Generate sample data

In [28]:
Table = {
    'Gender': ['M','F','M','F','F','M','F','M'],     
    'Science-Grant': ['Y', 'N', 'Y', 'N', 'Y','N','N','N']
}

TDF = pd.DataFrame(data=Table)
TDF

  Gender Science-Grant
0      M             Y
1      F             N
2      M             Y
3      F             N
4      F             Y
5      M             N
6      F             N
7      M             N

In [29]:
TDF = pd.get_dummies(TDF)
TDF

   Gender_F  Gender_M  Science-Grant_N  Science-Grant_Y
0         0         1                0                1
1         1         0                1                0
2         0         1                0                1
3         1         0                1                0
4         1         0                0                1
5         0         1                1                0
6         1         0                1                0
7         0         1                1                0

In [30]:
# generate interaction features
pf = PolynomialFeatures(degree=2, interaction_only=True, include_bias=False).fit(TDF[['Gender_F','Science-Grant_N']])

int_feat = pf.transform(TDF[['Gender_F', 'Science-Grant_N']]) 
print(int_feat)

[[0. 0. 0.]
 [1. 1. 1.]
 [0. 0. 0.]
 [1. 1. 1.]
 [1. 0. 0.]
 [0. 1. 0.]
 [1. 1. 1.]
 [0. 1. 0.]]

In [31]:
# convert the generated interaction feature array to a dataframe
TDF = pd.DataFrame(int_feat, columns=['Gender_F','Science-Grant_N', 'FxGrant'])
TDF

   Gender_F  Science-Grant_N  FxGrant
0       0.0              0.0      0.0
1       1.0              1.0      1.0
2       0.0              0.0      0.0
3       1.0              1.0      1.0
4       1.0              0.0      0.0
5       0.0              1.0      0.0
6       1.0              1.0      1.0
7       0.0              1.0      0.0

In [32]:
print(TDF['FxGrant'].mean(0))

0.375